<testconfig version="1.0">
    <information>
        <summary/>
        <description/>
    </information>
    <passwords/>
    <testsettings>
        <imageSearchThreshold>90.859</imageSearchThreshold>
        <imageSearchTolerant>true</imageSearchTolerant>
        <imageSearchMaxScale>150</imageSearchMaxScale>
        <imageSearchMultiscale>true</imageSearchMultiscale>
        <imageSearchMinScale>100</imageSearchMinScale>
    </testsettings>
</testconfig>
